// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

div.pager-block {
    margin: 10px 0 50px;
}

div.banner-image {
    background-size: 100% auto;
    background: url('/bg-img2.jpg') 80% 50%;
    height: 400px;
}

div.banner-container {
    height: 400px;
    display:table-cell;
    vertical-align:middle;
    text-align:left;
}

p.banner-text {
    color: white;
    font-size: 40px;
    margin-bottom: 0;
}

div.workbook-card a:hover {
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, .3);;
}

label {
    margin-bottom: 0;
}

p.explanation {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

div.workbook-edit {
    position: absolute;
    top: 2%;
    left: 91%;
}

div.exercise-delete {
    position: absolute;
    top: 8%;
    left: 92%;
}

i.delete-icon {
    font-size: 20px;
}

label.form-label {
    font-size: 18px;
    font-weight: bold;
}

p.question {
    font-size: 20px;
}

p.answer {
    font-size: 20px;
}
