// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

div.component-block {
    margin-top: 70px;
}
div.pager-block {
    margin: 10px 0 50px;
}

div.banner-image {
    background-image: url('/bg-img.jpg');
    background-size: 100% auto;
    background-position: 80% 50%;
    height: 400px;
}

div.banner-container {
    height: 400px;
    display:table-cell;
    vertical-align:middle;
    text-align:left;
}

p.banner-text {
    color: white;
    font-size: 40px;
    margin-bottom: 0;
}

div.workbook-card a:hover {
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, .3);;
}

label {
    margin-bottom: 0;
}
